<%= form_for @superhero do |f| %>

  <% if @superhero.errors.any? %>
    <ul class='errors'>
      <% @superhero.errors.full_messages.each do |err| %>
	<li><%= err %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :cape, "Does (s)he have a cape?" %>
  Yes
  <%= f.check_box :cape %> 

  <%= f.label :super_power %>
  <%= f.text_field :super_power %>

  <%= f.label :image, "Image URL" %>
  <%= f.text_field :image %>

  <%= f.button %>

<% end %>
