<h3><%= @superhero.name %></h3>

<%= link_to 'Edit', edit_superhero_path( @superhero ) %>
<%= link_to 'Delete', superhero_path( @superhero ), method: :delete %>

<dl>
  <dt>Has a cape?</dt>
  <dd><%= @superhero.cape ? "Yes" : "No" %></dd>
  <dt>Super Power:</dt>
  <dd><%= @superhero.super_power %></dd>
  <dt>Image</dt>
  <dd><%= image_tag( @superhero.image, alt: "Image of #{@superhero.name}" ) %></dd>
</dl>